.right{
    position: fixed;
    right:-500px;
    top:50%;
}

.left{
    position: fixed;
    left:-500px;
    top:50%;
}

.top{
    position: fixed;
    left:50%;
    top:-600px;
}

.top-right{
    position: fixed;
    right:-500px;
    top:-600px;
}

.top-left{
    position: fixed;
    left:-500px;
    top:-600px;
}



.bottom{
    position: fixed;
    left:50%;
    bottom:-600px;
}

.bottom-right{
    position: fixed;
    right:-500px;
    bottom:-600px;
}

.bottom-left{
    position: fixed;
    left:-500px;
    bottom:-600px;
    /* transform: translateY(-600px) translateX(500px); 
    transition: all 1s linear; */
}

/* .bottom-left.animated{

} */

.center{
    position: fixed;
    left:50%;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0; 
    /* animation: center 1s forwards; */
}

/* @keyframes center {
    0%   {opacity: 0;}
    100% {opacity:1;}
  } */